<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>

</head>
<body>
<h1>Пользователи</h1>

<form th:action="@{/users/add}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <button type="submit">Добавить пользователя</button>
</form>

<h2>Существующие пользователи</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td>
            <form th:action="@{/users/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit">Удалить</button>
            </form>
            <form th:action="@{/users/update}" method="post" th:object="${user}">
                <input type="hidden" th:field="*{id}" />
                <label for="updateName">Обновить имя:</label>
                <input type="text" id="updateName" th:field="*{name}" />
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <button type="submit">Обновить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>